/* .addInputButton {
  background-color: #cfd8dc;
  border-radius: 7px;
  margin: 2px;
  box-shadow: 1px 1px;
}

.viewGraphButton {
  background-color: #cfd8dc;
  border-radius: 7px;
  margin: 2px;
  box-shadow: 1px 1px;
} */
