.inputLink {
  width: 30%;
  margin: 3px 10px;
  background-color: transparent;
  height: 30px;
  width: calc(50% - 4px);
  max-width: 800px;
  min-width: 50px;
  border: 2px solid rgba(0, 0, 0, 0.23);
  border-radius: 7px;
}

.inputLink:hover {
  box-shadow: 1px 1px 3px #b0bec5; /* 그림자 효과 */
}

.selected {
  background-color: #cfd8dc;
  width: 60px;
  height: 30px;
  border-radius: 7px;
  margin: 2px;
  border: 1px solid #b0bec5;
}

.selected:hover {
  box-shadow: 1px 1px 3px #607d8b; /* 그림자 효과 */
}

.notselected {
  /* background-color: #eceff1; */
  background-color: white;
  width: 60px;
  height: 30px;
  border-radius: 7px;
  margin: 2px;
  border: 1px solid #b0bec5;
}

.notselected:hover {
  box-shadow: 1px 1px 3px #b0bec5; /* 그림자 효과 */
}
