.plusButton {
  background-color: white;
  font-size: 30px;
  font-weight: lighter;
  color: #78909c;
  width: 40px;
  height: 40px;
  border-radius: 15px;
  margin: 2px;
  /* box-shadow: 1px 1px; 그림자 효과 */
  border: 1px solid #b0bec5;
  display: block;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 30px;
}

.plusButton:hover {
  box-shadow: 1px 1px 3px #b0bec5; /* 그림자 효과 */
}

.viewGraphButton,.returnInputButton {
  /* background-color: #eceff1; */
  background-color: white;
  color: #78909c;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 23px;
  font-weight: 700;

  line-height: 50px;
  width: 200px;
  height: 50px;
  border-radius: 7px;
  margin: 2px;
  /* box-shadow: 1px 1px; 그림자 효과 */
  border: 1px solid #b0bec5;
  margin: 5px auto 50px auto;
}

.viewGraphButton:hover,.returnInputButton:hover {
  box-shadow: 1px 1px 3px #b0bec5; /* 그림자 효과 */
}

.sampleData {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 30px;
  width: 100px;
  height: 20px;
  border-radius: 7px;
  border: 1px solid #b0bec5;
  margin: 5px 0 5px 10px;
}
.sampleData:hover {
  box-shadow: 1px 1px 3px #b0bec5; /* 그림자 효과 */
}
